! Xft settings -
Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

URxvt*scrollBar: False
URxvt*fading: 0
URxvt.internalBorder: 0


URxvt.perl-ext-common:      default,clipboard,keyboard-select,matcher,resize-font
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
!URxvt.keysym.M-n:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-u:           perl:keyboard-select:search
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

! URxvt*.font: xft:Inconsolata\ for\ Powerline:Semi\ Bold:pixelsize=12
! URxvt.font: xft:Terminus (TTF) for Powerline:MediumForPowerline:size=13:antialias=true
!
! Appearance
URxvt.font:           xft:Inconsolata\ For\ Powerline:Semi\ Bold:pixelsize=14:antialias=true
URxvt.imFont:         xft:Inconsolata\ For\ Powerline:Semi\ Bold:pixelsize=14:antialias=true
URxvt.boldFont:       xft:Inconsolata\ For\ Powerline:Semi\ Bold:pixelsize=14:antialias=true
URxvt.italicFont:     xft:Inconsolata\ For\ Powerline:Semi\ Bold:pixelsize=14:antialias=true
URxvt.boldItalicFont: xft:Inconsolata\ For\ Powerline:Semi\ Bold:pixelsize=14:antialias=true
! URxvt.font: xft:Source\ Code\ Pro:Semi\ Bold:pixelsize=12
*background: #101010
*foreground: #d0d0d0
*cursorColor: #d0d0d0
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #3579a8
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #5f5fee
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0
